//

body,
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: #1d1d1f;
}

.clickable {
    cursor: pointer;
}

header {
    text-align: right; 
    padding: 16px;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.backgroundImage {
    background: url(/img/mainImage.jpg);
    background-size: contain;
    width: 100%;
    height: 35px;
    padding-top: 7%;
}

section {
    margin-bottom: 64px;
}

.loginToggle {
    display: table;
    margin-left: auto;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 4px;

    &:hover {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    }
}

.loginBoxWrapper {
    position: relative;
}

.loginBox {
    position: absolute;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    right: 0;
    top: 100%;
    min-width: 320px;
    min-height: 100px;
    border: 1px solid;
    border-radius: 4px;
    padding: 16px;
    text-align: left;
}

.registerForm {
    margin: 24px auto;
}

form {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

label {
    color: #1d1d1f;
    font-size: 13px;
    padding-bottom: 4px;
}

input {
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid lightsalmon;
    height: 36px;
    margin-bottom: 12px;
    padding: 0 8px;
    font-size: 14px;
}

button {
    border-radius: 4px;
    height: 40px;
    background: lightsalmon;
    margin-top: 12px;
    border: 1px solid #1d1d1f;
    color: white;
    font-size: 13px;
    cursor: pointer;

    &:hover {
        background: darken(lightsalmon, 20%);
    }
}

.searchBox {
    background: url("/img/icon-search-grey.svg") 8px no-repeat;
    padding-left: 32px;
}

.clientWrapper {
    border: 1px solid lightslategray;
    padding: 16px;
    max-width: 600px;
    display: table;
    margin: 8px auto 0;
}